*{
  font-family:sans-serif;
}
.SourceCodeMainContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efebeb;
}
.SourceCodeBoxHeader {
  display: flex;
  background-color: white;
  height: 60px;
  padding-left: 4%;
  width: 100%;
  position: fixed;
  padding-right: 4%;
  justify-content: space-between;

  background-color: rgb(243, 247, 247);
  box-shadow: 0 2px 15px rgb(233, 204, 204);
}
.fileDirectoryBox {
  display: flex;
  align-items: center;

  background-color: white;
}
.fileDirectoryBox {
  margin-top: 15px;
  background-color: #e4e2e2;
  height: 30px;
  padding-left: 20px;

  padding-right: 20px;
  margin-bottom: 10px;
}

.sourceFileHeaderSelector {
  margin-top: 15px;
  background-color: #e8e6e6;
  margin-right: 7%;
  height: 30px;
  border: none;
}
.newSourceCode{
color:purple; text-shadow:0 1px 2px rgb(108, 107, 107);
}
.anglebracket {
  color: grey;
}
.cardContainer {
  display: flex;
  width: 100%;
 
  padding-top: 4%;
}
.spanFontSize{
  font-size: small;
}
.CardBox1 {
  width: 100%;
  margin-left: 2%;
}
.filterInputBox {
  width: 87%;

  border: none;
  height: 30px;
  border-radius: 7px;
  outline: none;
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
}
.industries {
  margin-left: 10px;
}
.checkBoxDiv {
  display: flex;
  margin-top: 8px;
}
.checkInputBoxMain {
  background-color: white;
  width: 97%;
  height: 148px;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  margin-top: 20px;
}
.check {
  margin-right: 10px;
  margin-left: 4%;
}
.rightSideCardSection {
  /* border:2px solid black; */

  width: 70%;
  margin-left: 3%;
}
.card_Div {
  width: 26%;
  background-color: white;
  padding: 3% 3%;
  box-shadow: 0 2px 25px rgb(96, 94, 94);
  margin-top: 25px;
  border-radius: 7px;
}
.Buy_Button {
  background-color: #17a2b8;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 3px grey;
  height: 30px;
  width: 100px;
}
.Buy_Button:hover {
  background-color: #0b5762;
}
.iconContainer {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  align-items: center;
}
.cardIcon {
  margin-right: 6px;
  color: #0c5d69;
}
.loadmoreDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.load_more {
  width: 225px;
  height: 35px;
  color: white;
  background-color: #17a2b8;
  margin-top: 2%;
  border: none;
  box-shadow: 0 2px 5px rgb(87, 86, 86);
  border-radius: 6px;
}
.load_more:hover {
  background-color: #0c5d69;
}
.bgImageContainer {
  width: 100%;

  height: auto;
}
.bgInnerContainer {
  width: 100%;

  height: auto;
  z-index: 1;
  padding-right: 10px;
  position: relative;
}
.bgInnerContainer {
  background-image: url("../../public/1318e11aee7e8d6c9a9bf0f6368873a9.gif");

  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  opacity: 0.8;
}

#marginR {
  margin-left: 20px;
}
.BgChildImageBox {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5%;
}
.buy_button_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img13 {
  width: 100%;
  background-size: cover;

  border-radius: 10px;
}
.img13:hover {
  box-shadow: 0 2px 4px solid rgb(247, 246, 246);
}

.bgImg2Container {
  width: 100%;
  height: 300px;

  background-image: url("../../public/bannerFrame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.childBox_bgImg2Container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
 height: 220px;

  transform: translate(-50%, -50%);
  display: flex;
 
  background-color: rgba(141, 23, 141, 0.82);
  opacity: 0.8;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.inputfield_bgImg2Container {
  width: 45%;
  opacity: 1;
}
.input-inputfield {
  width: 90%;

  padding-left: 10px;
  outline: none;
  background-color: white !important;
  border-radius: 16px;
  height: 30px;
}
.filterInputBox{

}

.suscribeButton-bgImg2Container {
  color: black;
  background-color: white;
  width: 130px;
  border-radius: 10px;
  height: 33px;
  margin-top: 20px;
  margin-left: 1%;
}
.bgImg2Container-para {
  display: block;
  color: white;
  width: 45%;
  margin-left: 2%;

  padding-right: 2%;
  padding-left: 2%;
}
.bgImg2Container-para {
  padding-top: 3%;
  display: block;
  font-weight: 600;
}
.suscribeButton-bgImg2Container {
  background-color: aqua;
  border: none;
  box-shadow: 0 2px 4px rgb(44, 44, 44);
}
.suscribeButton-bgImg2Container:hover {
  background-color: rgb(19, 222, 222);
  color: white;
}
.footer_SourceCode {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-around;
  background: linear-gradient(to top, rgb(175, 217, 249), white);
}
.sourceCode-Footer-icons-box {
  width: 100%;
  /* border:2px solid black; */
  display: flex;
  justify-content: space-between;
  background-color: #f3f0f0;
}
.MusicNoteIcon {
  color: rgb(23, 242, 52);
}
.iconBox {
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 3px rgb(81, 81, 81);
  margin-right: 20px;
}
.iconBox:hover {
  /* background-color:rgb(244, 247, 197); */
  box-shadow: 0 3px 10px rgb(86, 182, 255);
}

.YouTubeIcon {
  background-color: red;
}
.YouTubeIcon:hover {
  background-color: rgb(189, 4, 4);
}
.linkedInIcon {
  background-color: blue;
}
.linkedInIcon:hover {
  background-color: rgb(9, 9, 94);
}
.instagramIcon {
  background-color: rgb(252, 150, 167);
}
.instagramIcon:hover {
  background-color: rgb(165, 88, 101);
}
.TwitterIcon {
  background-color: rgb(7, 156, 156);
}
.TwitterIcon:hover {
  background-color: rgb(11, 91, 91);
}
.fbIconIcon {
  background-color: rgb(139, 139, 245);
}
.fbIconIcon:hover {
  background-color: rgb(41, 41, 138);
}

.linkedInIcon {
  background-color: blue;
}
.linkedInIcon:hover {
  background-color: rgb(5, 5, 54);
}
.icOn {
  color: white;
}
.bgImageContainer {
  border-radius: 6px;
}
.bgInnerContainer {
  border-radius: 8px;
}
.CardPageImg1 {
  width: 100%;
}
.rightSideCardSection {
  padding-top: 3%;
}
.iconContainer {
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
  height: 40px;
}
.linkText:hover {
  color: rgb(255, 147, 5);
}
.displayFlux_justifyContent_spaceround {
  display: flex;
  justify-content: space-around;
}
.textAlignCenter_MarginTopO_Bottom0 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.textAlignCenter_MarginTopO_Bottom10 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.textAlignCenter_MarginTop5 {
  text-align: center;
  margin-top: 5px;
}
.IcOnMainContainer {
  display: flex;
  align-items: center;
  margin-right: 4%;
}
.blue {
  color: blue;
  margin-bottom: 0;
}
.CardPageImg1 {
  border-top-left-radius: 15px;
}

/**/
.checkInputBoxMain {
  background-color: white;
  width: 97%;
  height: 148px;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  margin-top: 20px;
  padding-right: 5px;
}
.scrollableBox {
  width: 100%;
  height: 148px;
  overflow: hidden;
}

.scrollableBox {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollableBox::-webkit-scrollbar {
  width: 10px;
}
.scrollableBox::-webkit-scrollbar-track {
  background: #ebe9e9;
  border: 1px solid rgb(211, 208, 208);
  border-radius: 3px;
  height: 50px;
}

.scrollableBox::-webkit-scrollbar-thumb {
  background: #03755e;
  height: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.cardInnerContainer {
  width: 22%;
  margin-left: 3%;
}
.fontSixeSmall {
  font-size: small;
}
.CardPageImg1:hover{
  
  transition: 0.5s ease-in-out;
  scale:1.06;
 
}
.displayFlex_justifyContentSpacebetween{
display:flex;justify-content:space-between;
}
#buy_button_divId{
   display:flex;
}
.featureProduct{
   text-align:center; margin-top:5px;
}
.BgChildImage{
margin-bottom:0;
}
.bgImg2Container{
  margin-top:30px;
}
.BgChildImageBox{
  padding-bottom:30px;
}
.fontSixeSmall{
  line-height: 20px;;
}

.img13:hover{
  transition: 0.5s ease-in-out;
  scale:1.06;
 
}
.sourceFileHeaderSelector{
  border:2px solid grey;border-radius:5px;
}
#sourceFileHeaderSelector_{
  border:2px solid grey;border-radius:5px;
}
.fileDirectoryBox{
  border:1px solid grey;border-radius:5px;
}
.spanFontSize{
  font-size:15px;
}

.cardInnerContainer{
   width:17%; margin-left:3%;
 
}
.newSourceCode{
  color:white;
}
.icon_Main_Container{
  display:flex;align-items:center; margin-right: 4%;
}

@media(max-width:1024px){
  .displayFlux_justifyContent_spaceround{
    height:auto;
    flex-wrap:wrap;
    display:flex;
    
    justify-content: space-between;
  }
  .cardInnerContainer{
    width:300px;
    
   
  }
  .card_Div{
    width:230px !important;
    height:600px !important;;
  
  }
  .headerOfCard{
    font-size:medium;
  }

  .sourceFileHeaderSelector{
    margin-right:5%;
  }
  
  .SourceCodeBoxHeader{
    width:100% !important;
  }
}
@media(max-width:768px){
  .displayFlux_justifyContent_spaceround{
    height:auto;
    flex-wrap:wrap;
    display:flex;
    
    justify-content: space-between;
   
  }
  .cardInnerContainer{
    width:250px;
   
   
  }
  .spanFontSize{
    font-size:small;
  }
  
  .industries{
    margin-top:23%;
  }
.card_Div{
  padding-right:20px !important;
 width:179px !important;
 height:530px !important;
}
.footer_header{
  font-size:22px;
}
}
@media(max-width:425px){
  .rightSideCardSection{
    margin-top:8%;
  }
  
  .CardBox1{
    margin-top:20%;
    z-index:1000;
  }
.cardInnerContainer{
   width:200px;
   /* margin-top:3%; */
  
 }
 .fileDirectoryBox{
  font-size:small;
  width:140px;
  margin-left:0;
  margin-right:0;
 }

 .bgImg2Container-para{
  font-size:small;
  font-weight:300;
 }
 
 .sourceFileHeaderSelector_{
  margin-left:0;
 }
 

 #SourceCodeBoxHeaderID{
  
    width:180px;
    padding-right:0;
    margin-right:0;
    position:relative;
   margin-bottom:0;
   
 }
 

 #iconBoxId{
  width:30px;height:30px;
  margin-left:0;
  margin-right:5px;
 }
 .marginTop0{
  font-size:small;
 }
.footer_header{
  font-size: large;
}

#contact{
  font-size:small;

}
.featureProduct{
  font-size:25px;
  padding-top:20px;

  
}
#load_moreId{
  width:190px;

  margin-left:0;
 
}

}

 @media(max-width:375px){
  #card_DivId{
     width:15%;
   
  margin-right:5px;
    box-shadow: 0 2px 25px rgb(249, 248, 248);
    margin-top: 30px;
    border-radius: 7px;
    border:1px solid grey;
  
  }
  .industries{
    font-size:medium;
    margin-bottom:5px;
  }
  #FilterInputBoxID{
   
   
    margin-top:0;
  }
  #SourceCodeMainContainerID {
    width:370px;
   
   border:1px solid red;
    background-color: #efebeb;
    box-shadow: none;
  }
  .checkInputBoxMain{
    box-shadow:none;
    border:1px solid grey;
  }
}